<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Smart Munshi</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSContactsUsageDescription</key>
	<string>SmartMunshi requires access to your contacts to help you quickly add customers from your phone's contact list when creating a new contact. We also sync your contacts to our secure servers so you can send targeted marketing messages to your customers. When you create a marketing campaign, we'll display your synced contacts so you can easily select which customers to message. Your contacts are encrypted during upload and securely stored.
</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Smart Munshi requires location access to automatically verify the location where business expenses or transactions are logged.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Smart Munshi requires access to your photo library to let you upload and attach receipt images and document attachments.</string>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Octicons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome6_Regular.ttf</string>
		<string>Entypo.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>Zocial.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>FontAwesome6_Solid.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>FontAwesome6_Brands.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>Camera is used to scan product barcodes</string>
</dict>
</plist>
